*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: Roboto-light;
}

.container{
    max-width: 1170px;
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
}
a{
    color: inherit;
    text-decoration: none;
}
li{
    list-style: none;
}
button{
    cursor: pointer;
    outline: none;    
}
img{
    max-width: 100%;
}
input{
    outline: none;
}