@import "./components/footer";
@import "variable";
@import "fonts";
@import "mixins";
@import "reset";

.wishlist {
    padding: 40px 70px;
    .wishlist_txt{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 60px 0px;
        .strong_txt{
            strong{
                font-size: 20px;
            }
        }
        .button_wishlist{
            button{
                width: 200px;
                border-radius: 5px;
                border: 1px solid black;
                cursor: pointer;
                background-color: #fff;
                height: 50px;
            }
            button:hover{
                background-color: #000;
                color: #fff;
            }
        }
    }
    .cards {
        display: grid;
        gap: 40px;
        grid-template-columns: repeat(4, 1fr);
        .card{
            .type{
                color: red;
            }
            button{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                color: #fff;
                cursor: pointer;
                border: none;
                background-color: #000;
                height: 40px;
                font-size: 14px;
            }
            button:hover{
                background-color: #fff;
                color: #000;
                border: 1px solid black;
            }
        }
    }
    .cards_2 {
        display: grid;
        margin-top: 40px;
        gap: 40px;
        grid-template-columns: repeat(4, 1fr);
        .card{
            .type{
                color: red;
            }
            button{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                color: #fff;
                cursor: pointer;
                border: none;
                background-color: #000;
                height: 40px;
                font-size: 14px;
            }
            button:hover{
                background-color: #fff;
                color: #000;
                border: 1px solid black;
            }
        }
    }
}

.not_found{
    padding: 40px 70px;
    .txt{
        strong{
            font-size: 14px;
        }
    }
    .found{
        margin-top: 100px;
        text-align: center;
        padding: 10px;
        strong{
            font-size: 110px;
        }
        p{
            font-size: 16px;
        }
        button{
            background-color: #DB4444;
            border: none;
            border-radius: 3px;
            color: #fff;
            width: 250px;
            height: 50px;
            .link{
                text-decoration: none;
                font-size: 16px;
            }
        }
        button:hover{
            background-color: #fff;
            border: 1px solid #DB4444;
            color: #DB4444;
            cursor: pointer;
        }
    }
}


@import "checkout";
@import "./about.scss";
@import "products";
@import "../sass/contact/contact.scss";
