.cart {
  padding: 0px 240px;

  .cart_sort {
    padding: 0px 50px;
    margin-top: 50px;
    display: flex;
    height: 72px;
    width: 1100px;
    border: 2px solid #c9b3b3;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;

    img {
      width: 40px;
    }

    .btn_counts {
      border: 1px solid #c9b3b3;

      .btn_plus {
        width: 30px;
        height: 30px;
        border: none;
      }

      .strong_count {
        width: 40px;
        height: 30px;
        padding: 0px 20px;
      }

      .btn_minus {
        border: none;
        width: 30px;
        background-color: #DB4444;
        color: #fff;
        height: 30px;
      }
    }
  }

  .btns {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 1100px;
    align-items: center;

    button { 
      width: 200px;
      height: 50px;
      color: #000;
      border: 1px solid #c9b3b3;
      background-color: #fff;
      font-size: 16px;
      font-weight: 500;
      border-radius: 4px;
    }
  }

  .carts {
    padding: 50px 0px;
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
    width: 1100px;

    .carts_txt {
      display: flex;
      align-items: flex-start;
      gap: 0px 20px;

      input {
        width: 200px;
        height: 45px;
        padding: 0px 20px;
        border: 1px solid black;
        border-radius: 4px;
      }

      button {
        border: none;
        background-color: #DB4444;
        color: #fff;
        width: 180px;
        height: 45px;
        border-radius: 4px;
      }
    }
  }

  .cart_info {
    border-radius: 4px;
    width: 470px;
    padding: 50px 50px;
    border: 1px solid black;

    div {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #c9b3b3;
    }

    .total {
      display: flex;
      justify-content: space-between;
    }

    .div {
      display: flex;
      margin-top: 30px;
      justify-content: center;
    }

    button {
      border: none;
      background-color: #DB4444;
      color: #fff;
      width: 180px;
      height: 45px;
      border-radius: 4px;
    }
  }
}

.cart_link {
  padding: 80px 180px;

  .link {
    color: #c9b3b3;
  }
}

@media (min-width: 1400px) and (max-width: 1470px ){
  .cart{
    display: flex;
    flex-direction: column;
    padding: 0px 180px;
  }
}
@media (min-width: 1000px) and (max-width: 1399px ){
  .cart{
    display: flex;
    flex-direction: column;
    padding: 0px 180px;
    .cart_sort{
      width: 1000px;
    }
    .btns{
      width: 1000px;
    }
    .carts{
      width: 1000px;
    }
  }
}

@media (min-width: 1150px) and (max-width: 1240px ){
  .cart{
    display: flex;
    flex-direction: column;
    padding: 0px 180px;
    .cart_sort{
      width: 900px;
    }
    .btns{
      width: 900px;
    }
    .carts{
      width: 900px;
      gap: 0px 80px;
    }
  }
}

@media (min-width: 1050px) and (max-width: 1149px ){
  .cart{
    display: flex;
    flex-direction: column;
    padding: 0px 180px;
    .cart_sort{
      width: 800px;
    }
    .btns{
      width: 800px;
    }
    .carts{
      width: 800px;
      gap: 0px 80px;
    }
  }
}
@media (min-width: 950px) and (max-width: 1049px ){
  .cart{
    display: flex;
    flex-direction: column;
    padding: 0px 180px;
    .cart_sort{
      width: 700px;
    }
    .btns{
      width: 700px;
    }
    .carts{
      width: 700px;
      gap: 0px 50px;
      .cart_info{
        width: 400px;
        padding: 50px 30px;
      }
    }
  }
}


@media (min-width: 850px) and (max-width: 949px ){
  .cart{
    display: flex;
    flex-direction: column;
    padding: 0px 180px;
    .cart_sort{
      width: 600px;
    }
    .btns{
      width: 600px;
    }
    .carts{
      width: 600px;
      gap: 0px 50px;
      .cart_info{
        width: 300px;
        padding: 50px 20px;
        div{
          strong{
            font-size: 10px;
          }
        }
      }
      .carts_txt{
        input{
          width: 150px;
        }
        button{
          width: 100px;
        }
      }
    }
  }
}

@media (min-width: 750px) and (max-width: 849px ){
  .cart{
    display: flex;
    flex-direction: column;
    padding: 0px 180px;
    .cart_sort{
      width: 500px;
    }
    .btns{
      width: 500px;
    }
    .carts{
      width: 500px;
      gap: 0px 50px;
      .cart_info{
        width: 300px;
        padding: 50px 20px;
        div{
          strong{
            font-size: 10px;
          }
        }
      }
      .carts_txt{
        input{
          width: 130px;
        }
        button{
          width: 70px;
        }
      }
    }
  }
}

@media (min-width: 650px) and (max-width: 749px ){
  .cart{
    display: flex;
    flex-direction: column;
    padding: 0px 180px;
    .cart_sort{
      width: 400px;
    }
    .btns{
      width: 400px;
      button{
        width: 150px;
      }
    }
    .carts{
      width: 400px;
      flex-direction: column;
      gap: 50px 50px;
      .cart_info{
        width: 400px;
        padding: 50px 20px;
      }
      .carts_txt{
        gap: 0 50px ;
        input{
          width: 200px;
        }
        button{
          width: 200px;
        }
      }
    }
  }
}

@media (min-width: 550px) and (max-width: 649px ){
  .cart{
    display: flex;
    flex-direction: column;
    padding: 0px 180px;
    .cart_sort{
      width: 400px;
      .btn_counts {
        border: 1px solid #c9b3b3;
  
        .btn_plus {
          width: 30px;
          height: 30px;
          border: none;
        }
  
        .strong_count {
          width: 40px;
          height: 30px;
          padding: 0px 10px;
          font-size: 10px;
        }
  
        .btn_minus {
          border: none;
          width: 30px;
          background-color: #DB4444;
          color: #fff;
          height: 30px;
        }
      }
      strong{
        font-size: 10px;
      }
    }
    .btns{
      width: 400px;
      button{
        width: 150px;
      }
    }
    .carts{
      width: 400px;
      flex-direction: column;
      gap: 50px 50px;
      .cart_info{
        width: 400px;
        padding: 50px 20px;
      }
      .carts_txt{
        gap: 0 50px ;
        input{
          width: 200px;
        }
        button{
          width: 200px;
        }
      }
    }
  }
}