.checkout{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: start;
    margin: 0 auto;
    width: 100%;
}
.checkoutcomponent{
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
}
.checkinputs{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 40%;
    position: sticky;
    top: 150px;
    align-self: flex-start;
    div{
        display: flex;
        flex-direction: column;
        gap: 7px;
        p{
            font-size: 13px;
            font-weight: 500;
            color: $bg-dark;
            span{
                color: $bg-py;
            }
        }
        input{
            width: 100%;
            height: 50px;
            background: $bg-sy;
            border: none;
            border-radius: 5px;
            padding-left: 10px;
            font-size: 15px;
        }
    }
}
.checkprss{
    display: flex;
    width: 30%;
    justify-content: end;
    font-size: 13px;
}
.checkproducts{
    padding-top: 10px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    // gap: 30px;
    p{
        font-weight: 600;
    }
    ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding-bottom: 5px;
    li{
        display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
    img{
        width: 55px;
    height: 60px;
    }
    div{
        display: flex;
        align-items: center;
        gap: 10px;
        width: 70%;
        height: 100%;
        p{
            max-width: 70%;
            overflow: hidden;
        }
    }
    }
    }
}
.checkseemore{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    background: none;
    
    button{
        width: 30px;
        font-size: 50px;
        height: 30px;
        border: none;
        background: white;
        border-radius: 5px;
        color: $bg-dark;
        font-size: 80%;
        font-weight: 600;
        background: none;
    }
}
.totalprice{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding-bottom: 30px;
    hr{
        width: 100%;
        color: $bg-dark;
        background: $bg-dark;
    }
    div{
        display: flex;
    width: 100%;
    height: 10px;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    }
}

.checkpromo{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    input{
        width: 60%;
        height: 50px;
        padding-left: 10px;
        font-size: 15px;
        border-radius: 5px;
        border: 1px solid gray;
    }
    button{
        width: 35%;
        height: 50px;
        border: none;
        border-radius: 5px;
        background: $bg-py;
        color: $bg-light;
        font-size: 14px;
    }
}
.checkorder{
    width: 45%;
    height: 50px;
    border: none;
    background: $bg-py;
    border-radius: 5px;
    color: $bg-light;
    font-size: 14px;
}
.checkout{
    padding-bottom: 50px;
    p{
        color: $bg-dark;
    }
    .navigate{
        width: 100%;
        padding-top: 50px;
        font-size: small;
    }
    .checktitle{
        width: 100%;
        padding-top: 40px;
        padding-bottom: 50px;
        font-size: 34px;
        font-weight: bolder;
    }
}
@media screen and (max-width: 675px){
    .checkoutcomponent{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .checkinputs{
        width: 100%;
        justify-content: center;
        align-items: center;
        position: static;
        input{
            width: 100%;
        }
        div{
            width: 100%;
        }
    }
    .checkproducts{
    width: 100%;
    padding-top: 50px;
        justify-content: center;
            align-items: center;
            text-align: center;

        li{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 100%;
            div{
                flex-direction: column;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .checkprss{
                width: auto;
            }
        }
    }
}
@media screen and (max-width: 520px){
    .checkproducts{
        li{
           div{
            display: flex;
            flex-direction: column;
           }
        }
    }
}
@media screen and (max-width: 1105px){
    .checkprss{
        span{
           display: none;
        }

    }
}

@media screen and (max-width: 780px){
    .checkpromo{
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: start;
        align-items: start;
        button{
            width: 100%;

        }
        input{
            width: 100%;
        }
    }
    .totalprice{
        width: 100%;
        div,hr{
            width: 100%;
        }
    }
    .checkproducts{
        ul{
            width: 100%;
            li{
                width: 100%;
            }
        }
        
    }
    .checkseemore{
        width: 100%;
    }
    .checkorder{
        width: 100%;
    }
}