.checkout{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
}
.checkoutcomponent{
    display: flex;
    width: 80%;
    justify-content: space-between;
}
.checkinputs{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 40%;
    div{
        display: flex;
        flex-direction: column;
        gap: 7px;
        p{
            font-size: 13px;
            font-weight: 500;
            color: $bg-dark;
            span{
                color: $bg-py;
            }
        }
        input{
            width: 100%;
            height: 50px;
            // background: rgba(245, 245, 245, 1);
            background: $bg-sy;
            border: none;
            border-radius: 5px;
            padding-left: 10px;
            font-size: 15px;
        }
    }
}
.checkprss{
    display: flex;
    width: 30%;
    justify-content: end;
    font-size: 13px;
}
.checkproducts{
    padding-top: 10px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 30px;
    p{
        font-weight: 600;
    }
    ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    li{
        display: flex;
    width: 80%;
    align-items: center;
    gap: 10px;
    img{
        width: 55px;
    height: 60px;
    }
    div{
        display: flex;
        align-items: center;
        gap: 10px;
        width: 70%;
        height: 100%;
        p{
            max-width: 70%;
            overflow: hidden;
        }
    }
    }
    }
}
.totalprice{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    hr{
        width: 80%;
        color: $bg-dark;
        background: $bg-dark;
    }
    div{
        display: flex;
    width: 80%;
    height: 10px;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    }
}
.checkpayment{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 10px;
    img{
        width: 50%;
    }
    div{
        width: 100%;
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .checkspace{
        justify-content: space-between;
    }
    input{
        width: 18px;
        height: 18px;
        color: $bg-dark;
        background: $bg-dark;
        
    }
}
.checkpromo{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    input{
        width: 60%;
        height: 50px;
        padding-left: 10px;
        font-size: 15px;
        border-radius: 5px;
    }
    button{
        width: 35%;
        height: 50px;
        border: none;
        border-radius: 5px;
        background: $bg-py;
        color: $bg-light;
        font-size: 14px;
    }
}
.checkorder{
    width: 45%;
    height: 50px;
    border: none;
    background: $bg-py;
    border-radius: 5px;
    color: $bg-light;
    font-size: 14px;
}
.checkout{
    padding-top: 150px;
    padding-bottom: 100px;
    p{
        color: $bg-dark;
    }
    .navigate{
        width: 80%;
        padding-top: 50px;
        font-size: small;
    }
    .checktitle{
        width: 80%;
        padding-top: 40px;
        padding-bottom: 30px;
        font-size: 34px;
        font-weight: bolder;
    }
}
@media screen and (max-width: 565px){
    .checkpayment{
        width: 100%;
        padding-top: 30px;
        justify-content: center;
        align-items: center;
        display: flex;
        div{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }
}
@media screen and (max-width: 675px){
    .checkproducts{
        justify-content: center;
            align-items: center;
            text-align: center;
        li{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 100%;
        }
    }
}
@media screen and (max-width: 520px){
    .checkproducts{
        li{
           div{
            display: flex;
            flex-direction: column;
           }
        }
    }
}
@media screen and (max-width: 450px){
    .totalprice{
        div{
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding-bottom: 50px;
        }
        hr{
            display: none;
        }
    }
}
@media screen and (max-width: 780px){
    .checkpromo{
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: start;
        align-items: start;
        button{
            width: 100%;

        }
        input{
            width: 100%;
        }
    }
    .checkorder{
        width: 100%;
    }
}