.contact {
  padding: 30px 0;
  &__content__wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    .contact__link {
      a.active {
        color: $bg-brown;
      }
    }
  }
  &__wrapper {
    display: flex;
    gap: 30px;
    flex-direction: column;
    @media only screen and (min-width: 900px) {
      flex-direction: row;
    }
    &__left {
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding: 40px 35px 51px;
      width: 100%;
      border-radius: 4px;
      box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
      background: $bg-light;
      @media only screen and (min-width: 500px) {
        flex-direction: row;
        justify-content: space-between;
      }
      @media only screen and (min-width: 900px) {
        flex-direction: column;
        height: 457px;
        max-width: 340px;
      }
      .contact__left__top {
        display: flex;
        flex-direction: column;
        gap: 24px;
        &__title {
          display: flex;
          align-items: center;
          gap: 16px;
          .logo__wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 31px;
            background: rgb(219, 68, 68);
            svg {
              width: 20px;
              height: 20px;
              color: $bg-light;
            }
          }
          h5 {
            color: $bg-dark;
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: 0%;
          }
        }
        &__text {
          display: flex;
          flex-direction: column;
          gap: 16px;
          p {
            color: $bg-dark;
            font-size: 14px;
            font-weight: 500;
            line-height: 21px;
            letter-spacing: 0%;
          }
        }
      }
      .line {
        width: 100%;
        height: 2px;
        background-color: rgb(190, 186, 186);
        @media only screen and (min-width: 500px) {
          display: none;
        }
        @media only screen and (min-width: 900px) {
          display: flex;
        }
      }
    }
    &__right {
      padding: 40px 25px;
      width: 100%;
      border-radius: 4px;
      box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.05);
      background: $bg-light;
      @media only screen and (min-width: 1200px) {
        width: 785px;
        height: 457px;
      }
      .contact__form {
        display: flex;
        flex-direction: column;
        gap: 32px;
        &__input__wrapper {
          display: flex;
          align-items: center;
          flex-direction: column;
          gap: 16px;
          @media only screen and (min-width: 700px) {
            flex-direction: row;
          }
          input {
            position: relative;
            border: none;
            outline: none;
            border-radius: 4px;
            background-color: $bg-secondary;
            padding-left: 16px;
            width: 100%;
            height: 50px;
            font-size: 14px;
            @media only screen and (min-width: 1200px) {
              max-width: 235px;
            }
          }
          input::placeholder {
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0%;
            transition: 0.5s;
          }
          input:focus {
            border: 1px solid rgb(188, 221, 254);
            color: rgb(64, 191, 255);
          }
          input:focus::placeholder {
            color: rgb(188, 221, 254);
          }
        }
        textarea {
          padding: 13px 0px 0px 16px;
          width: 100%;
          height: 120px;
          border-radius: 4px;
          background: $bg-secondary;
          border: none;
          outline: none;
          resize: none;
          font-size: 14px;
          @media only screen and (min-width: 900px) {
            max-width: 737px;
            height: 207px;
          }
        }
        textarea:focus {
          border: 1px solid rgb(188, 221, 254);
          color: rgb(64, 191, 255);
        }
        textarea:focus::placeholder {
          color: rgb(188, 221, 254);
        }
        textarea::placeholder {
          font-size: 14px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0%;
        }
        &__btn {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          button {
            width: 100%;
            height: 40px;
            max-width: 180px;
            background-color: $bg-brown;
            color: rgb(250, 250, 250);
            font-size: 12px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0%;
            @media only screen and (min-width: 900px) {
              font-size: 14px;
              max-width: 215px;
              height: 50px;
            }
          }
        }
      }
    }
  }
}
