.detail {
  padding: 30px 0px 50px;
  &__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 70px;
    @media (max-width: 1170px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
  }
  &__left {
    display: flex;
    align-items: center;
    height: 540px;
    gap: 30px;
    @media (max-width: 1170px) {
      width: 100%;
      height: 400px;
      gap: 10px;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }
  }
  &__images {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    @media (max-width: 1170px) {
      order: 1;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      order: 1;
      gap: 5px;
      overflow-y: hidden;
      overflow-x: scroll;
      height: 170px;
    }
  }
  &__image {
    width: 170px;
    height: 140px;
    border-radius: 4px;
    background-color: #f5f5f5;
    object-fit: contain;
    opacity: 0.7;
    @media (max-width: 700px) {
      max-width: 100px;
    }
  }
  &__img {
    height: 100%;
    object-fit: contain;
    background-color: #f5f5f5;
    border-radius: 4px;
    width: 500px;
    padding: 30px;
    @media (max-width: 1170px) {
      height: 200px;
      padding: 10px;
      object-fit: contain;
    }
  }
  &__context {
    max-width: 400px;
  }
  &__title {
    font-family: roboto-bold;
    font-size: 24px;
    line-height: 24px;
    color: $bg-dark;
    margin-bottom: 15px;
    @media (max-width: 400px) {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
  &__ratings {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 16px;
  }
  &__reviews {
    color: $bg-dark;
    font-family: roboto-light;
    font-size: 14px;
    line-height: 21px;
    opacity: 0.5;
  }
  &__stock {
    font-family: roboto-light;
    color: #00ff66;
    font-size: 14px;
    line-height: 21px;
  }
  &__price {
    margin-bottom: 24px;
    color: $bg-dark;
    font-family: roboto-light;
    font-size: 24px;
    line-height: 24px;
  }
  &__text {
    font-family: roboto-light;
    margin-bottom: 24px;
    color: $bg-dark;
    font-size: 14px;
    line-height: 21px;
  }
  &__hr {
    height: 1px;
    width: 100%;
    background-color: $bg-dark;
    border-radius: 1px;
    opacity: 0.5;
    margin-bottom: 30px;
  }
  &__box {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 40px;
    @media (max-width: 420px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  &__card {
    display: flex;
    align-items: center;
  }
  &__pm {
    padding: 18px 12px;
    width: 40px;
    height: 44px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #00000080;
    color: $bg-dark;
    font-size: 20px;
    cursor: pointer;
    transition: all 500ms;
    &:first-child {
      border-radius: 4px 0px 0px 4px;
    }
    &:last-child {
      border-radius: 0px 4px 4px 0px;
    }
    &:hover {
      background-color: $bg-py;
      color: #ffffff;
      border: 1px solid $bg-py;
    }
  }
  &__quantity {
    padding: 18px 12px;
    width: 80px;
    height: 44px;
    border: 1px solid #00000080;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $bg-dark;
    font-size: 22px;
  }
  &__buy {
    width: 165px;
    height: 44px;
    border: 1px solid $bg-py;
    border-radius: 4px;
    background-color: $bg-py;
    color: #ffffff;
    font-family: roboto-bold;
    font-size: 16px;
    line-height: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px 48px;
    transition: all 500ms;
    &:hover {
      color: $bg-py;
      background-color: #ffffff;
    }
  }
  &__bottom {
    display: flex;
    flex-direction: column;
  }
  &__exam {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 28px 16px;
    &:first-child {
      border: 1px solid #00000080;
      border-radius: 4px 4px 0px 0px;
    }
    &:last-child {
      border: 1px solid #00000080;
      border-top: none;
      border-radius: 0px 0px 4px 4px;
    }
  }
  &__row {
    display: flex;
    flex-direction: column;
    gap: 8px;
    &__title {
      font-family: roboto-light;
      font-size: 16px;
      line-height: 24px;
      color: $bg-dark;
    }
    &__text {
      color: $bg-dark;
      text-decoration: underline;
      font-family: roboto-light;
      font-size: 12px;
      line-height: 18px;
    }
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 100%;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #999;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 15px;
}
::-webkit-scrollbar-thumb {
  border-radius: 15px;
}
@media (max-width: 1170px) {
  ::-webkit-scrollbar {
    display: flex;
    margin: auto;
    width: 50%;
    height: 0px;
    margin: 5px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #fff;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #fff;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 15px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 15px;
  }
}
@media (max-width: 700px) {
  ::-webkit-scrollbar {
    display: flex;
    margin: auto;
    width: 50%;
    height: 3px;
    margin: 5px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 15px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 15px;
  }
}
