.sub__header {
  background-color: #000;
  color: #fff;
  height: 48px;
  &__content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__description {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
  }
  &__language {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    background-color: #000;
    border: none;
    outline: none;
    color: #f9f9f9;
  }
}
