.footer {
  background-color: black;
  padding: 40px 0;
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-around;
    color: white;
  }

  &__item {
    flex: 1 1 200px;
    margin: 10px;

    .title {
      color: rgb(250, 250, 250);
      font-size: 24px;
      font-weight: 700;
      line-height: 24px;
      margin-bottom: 16px;
    }

    .subtitle {
      color: rgb(250, 250, 250);
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 12px;
    }

    p {
      color: rgb(250, 250, 250);
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 12px;
    }

    li {
      color: rgb(250, 250, 250);
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 12px;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    .send {
      display: flex;
      align-items: center;
      padding: 12px 15px;
      border: 1.5px solid rgb(250, 250, 250);
      border-radius: 4px;

      input {
        color: rgb(250, 250, 250);
        font-size: 16px;
        font-weight: 400;
        background-color: transparent;
        outline: none;
        border: none;
        flex-grow: 1;
      }
    }

    .images {
      display: flex;
      align-items: center;
      gap: 5px;
      margin-bottom: 30px;

      .apps {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
      }
    }

    .icons {
      display: flex;
      align-items: center;
      gap: 20px;
      font-size: 25px;
    }
  }
}

.copyright {
  background-color: black;
  padding: 10px 0;
  text-align: center;

  p {
    color: rgb(255, 255, 255);
    font-size: 16px;
    opacity: 0.4;
  }
}

@media (max-width: 1400px) {
  footer {
    padding: 40px 60px;
  }

  .wrapper {
    margin: 10px 5px;
  }
}

@media (max-width: 768px) {
  footer {
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
  }

  .wrapper {
    margin: 20px 0;
  }
}

@media (max-width: 480px) {
  .icons {
    gap: 10px;
    font-size: 20px;
  }
}
