.header {
  width: 100%;
  height: 94px;
  position: sticky;
  top: 0;
  border-bottom: 1.5px solid #ddd;
  background-color: #fff;
  transition: 0.25s ease-in;
  z-index: 101;
  .nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.25s ease-in;
    &__logo {
      font-size: 24px;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0.03em;
      color: #000;
    }
    &__list {
      display: flex;
      align-items: center;
      gap: 48px;
      @media (max-width: 900px) {
        display: none;
      }
      .nav__link {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        color: #000;
      }
      .nav__link.active::after {
        width: 100%;
      }
      .nav__link::after {
        content: "";
        display: block;
        width: 0;
        height: 1px;
        background-color: #000;
        transition: 0.5s;
      }
      .nav__link:hover::after {
        width: 100%;
      }
    }
    .hide__nav__list {
      display: none;
    }
    &__actions {
      display: flex;
      align-items: center;
      gap: 24px;
      .nav__search__box {
        width: 243px;
        height: 38px;
        display: flex;
        align-items: center;
        border-radius: 4px;
        overflow: hidden;
        background-color: #f5f5f5;
        transition: 0.5s;
        @media (max-width: 900px) {
          width: 50px;
          background-color: transparent;
        }
        .nav__search__input {
          width: 100%;
          height: 100%;
          outline: none;
          border: none;
          font-size: 14px;
          font-weight: 400;
          line-height: 18px;
          color: #000;
          padding: 10px 20px;
          background-color: transparent;
          @media (max-width: 900px) {
            display: none;
          }
        }
        .nav__search__input:hover {
          background-color: #ddd;
        }
        .nav__search__btn {
          width: 50px;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 20px;
          border: none;
          background-color: transparent;
          @media (max-width: 900px) {
            font-size: 24px;
          }
        }
        .nav__search__btn:hover {
          background-color: #ddd;
        }
      }
      .search__box__active {
        width: 500px;
        transform: translate(-45%);
      }
      .nav__wishlist__link,
      .nav__cart__link {
        font-size: 22px;
        position: relative;
        color: #000;
        span {
          position: absolute;
          top: -7px;
          right: -8px;
          width: 17px;
          height: 17px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 14px;
          color: #fff;
          background-color: red;
        }
      }
      .hide__wishlist__link,
      .hide__cart__link {
        display: none;
      }
      .search__cancel__btn {
        background-color: transparent;
        border: none;
        outline: none;
        font-size: 20px;
        display: none;
      }
    }
  }
}

.nav__shrink {
  height: 66px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.show__search__box {
  transform: translateY(-48px);
  .nav__list,
  .nav__wishlist__link,
  .nav__cart__link {
    display: none;
  }
  .search__cancel__btn {
    display: block !important;
  }
}
