.login {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin: 55px auto;
}

.login img {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.login__right {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    max-width: 370px;
    margin: 15px auto;
}

.login__title {
    /* Heading/36PX Medium */
    width: 100%;
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 36px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 4%;
    text-align: left;
}

.login__content {
    /* Title/16PX Regular */
    width: 100%;
    color: rgb(0, 0, 0);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 14px;
}

.login__email,
.login__password {
    display: flex;
    width: 100%;
    max-width: 370px;
    height: 32px;
    margin: 15px auto !important;
}

.login__password {
    margin-top: 20px !important;
}

.login__button {
    width: 143px !important;
    height: 56px !important;
    border-radius: 4px;
    background: rgb(219, 68, 68) !important;
    border: none !important;
    color: rgb(250, 250, 250) !important;
    font-family: Poppins !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 24px !important;
    letter-spacing: 0% !important;
    text-align: center !important;
    margin-top: 40px !important;
}

@media screen and (max-width: 1032px) {
    .login img {
        max-width: 500px;
    }
}

@media screen and (max-width: 934px) {
    .login img {
        max-width: 400px;
    }
}